{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.18.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=6f5d7923-5be8-4e72-bf1b-d7d92ab7f00c\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=T~W8Q~GzhJ6x._7UHB-8KwvUNlfoT.2AFqvz6bnK\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026scope=https%3A%2F%2Fmanagement.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "refresh_in": 43199,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/sdk_vnext_cli/computes/cpu-cluster?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11812",
        "x-ms-response-type": "standard",
        "x-request-time": "0.065"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/sdk_vnext_cli/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "westus2",
        "tags": {},
        "properties": {
          "createdOn": "2022-06-03T21:05:02.0910759\u002B00:00",
          "modifiedOn": "2022-06-03T21:05:05.7177499\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "westus2",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 4,
            "targetNodeCount": 4,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 2,
              "idleNodeCount": 2,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Steady",
            "allocationStateTransitionTime": "2022-06-15T21:30:56.721\u002B00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "propertyBag": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/sdk_vnext_cli/datastores/workspaceblobstore?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11811",
        "x-ms-response-type": "standard",
        "x-request-time": "0.094"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/sdk_vnext_cli/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "sacfxu3euzmal3o",
          "containerName": "azureml-blobstore-60073e53-722a-4f65-9800-09c562dd3717",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2022-06-03T21:04:54.4490272Z",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2022-06-03T21:04:55.1259563Z",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/sdk_vnext_cli/datastores/workspaceblobstore/listSecrets?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1138",
        "x-ms-response-type": "standard",
        "x-request-time": "0.119"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "Xrs2emqAqMS/ppRCp/cE6YBt3vaOinxbFAtp\u002B1uNtXZx6rdyZP4JyiFXgLOhv\u002Bm1wd0DKh\u002BFdB9f\u002BASt9EEucw=="
      }
    },
    {
      "RequestUri": "https://sacfxu3euzmal3o.blob.core.windows.net/azureml-blobstore-60073e53-722a-4f65-9800-09c562dd3717/LocalUpload/f6238eff-a39f-47fa-83c3-af4af0852372/COMPONENT_PLACEHOLDER",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 15 Jun 2022 21:40:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sacfxu3euzmal3o.blob.core.windows.net/azureml-blobstore-60073e53-722a-4f65-9800-09c562dd3717/LocalUpload/f6238eff-a39f-47fa-83c3-af4af0852372/COMPONENT_PLACEHOLDER",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "L/DnSpFIn\u002BjaQWc\u002BsUQdcw==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Jun 2022 21:40:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "Y29tbWFuZF9jb21wb25lbnQ6IGNvZGVfcGxhY2Vob2xkZXI=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "L/DnSpFIn\u002BjaQWc\u002BsUQdcw==",
        "ETag": "\u00220x8DA4F17A929F0E0\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 21:40:26 GMT",
        "x-ms-content-crc64": "KWRPkj\u002BQ\u002BTE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sacfxu3euzmal3o.blob.core.windows.net/azureml-blobstore-60073e53-722a-4f65-9800-09c562dd3717/LocalUpload/f6238eff-a39f-47fa-83c3-af4af0852372/COMPONENT_PLACEHOLDER?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 15 Jun 2022 21:40:27 GMT",
        "x-ms-meta-name": "52882ac8-f823-4dea-9d49-97f4cfcb211b",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA4F17A93A9032\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 21:40:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/sdk_vnext_cli/codes/52882ac8-f823-4dea-9d49-97f4cfcb211b/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://sacfxu3euzmal3o.blob.core.windows.net/azureml-blobstore-60073e53-722a-4f65-9800-09c562dd3717/LocalUpload/f6238eff-a39f-47fa-83c3-af4af0852372"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/sdk_vnext_cli/codes/52882ac8-f823-4dea-9d49-97f4cfcb211b/versions/1?api-version=2022-05-01",
        "x-aml-cluster": "vienna-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1112",
        "x-ms-response-type": "standard",
        "x-request-time": "0.142"
      },
      "ResponseBody": {
        "id": "/subscriptions/000[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/sdk_vnext_cli/components/5e3ce516-293f-ec6a-b982-cb55429860e1/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the command component for sweep",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "name": "5e3ce516-293f-ec6a-b982-cb55429860e1",
            "version": "1",
            "display_name": "CommandComponentForSweep",
            "description": "This is the command component for sweep",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "is_deterministic": true,
            "inputs": {
              "batch_size": {
                "type": "integer"
              },
              "first_layer_neurons": {
                "type": "integer"
              },
              "second_layer_neurons": {
                "type": "integer"
              },
              "third_layer_neurons": {
                "type": "integer"
              },
              "epochs": {
                "type": "integer"
              },
              "momentum": {
                "type": "number"
              },
              "weight_decay": {
                "type": "number"
              },
              "learning_rate": {
                "type": "number"
              },
              "f1": {
                "type": "number"
              },
              "f2": {
                "type": "number"
              },
              "random_seed": {
                "type": "integer",
                "default": "42"
              },
              "data_folder": {
                "type": "mltable"
              }
            },
            "outputs": {
              "trained_model_dir": {
                "type": "mlflow_model"
              }
            },
            "type": "command",
            "command": "echo \u0022Start training ...\u0022 \u0026\u0026 python mnist.py --data_folder ${{inputs.data_folder}} --batch_size ${{inputs.batch_size}} --first_layer_neurons ${{inputs.first_layer_neurons}} --second_layer_neurons ${{inputs.second_layer_neurons}} --third_layer_neurons ${{inputs.third_layer_neurons}} --epochs ${{inputs.epochs}}  --f1 ${{inputs.f1}} --f2 ${{inputs.f2}} --weight_decay ${{inputs.weight_decay}} --momentum ${{inputs.momentum}} --learning_rate ${{inputs.learning_rate}} --saved_model ${{outputs.trained_model_dir}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/sdk_vnext_cli/codes/52882ac8-f823-4dea-9d49-97f4cfcb211b/versions/1",
            "environment": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/sdk_vnext_cli/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu/versions/1"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Mac[...]
[...]
    {
      "RequestUri": "https://sacfxu3euzmal3o.blob.core.windows.net/azureml-blobstore-60073e53-722a-4f65-9800-09c562dd3717/LocalUpload/f6238eff-a39f-47fa-83c3-af4af0852372/data/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 15 Jun 2022 21:40:30 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sacfxu3euzmal3o.blob.core.windows.net/azureml-blobstore-60073e53-722a-4f65-9800-09c562dd3717/LocalUpload/f6238eff-a39f-47fa-83c3-af4af0852372/data/sample1.csv?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 15 Jun 2022 21:40:30 GMT",
        "x-ms-meta-name": "30217ce5-7438-4d50-aef8-ff9082a8fff6",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1f7c00e5-12c8-4609-ac5b-f9465b90a909",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA4F17AB003FD9\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 21:40:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sacfxu3euzmal3o.blob.core.windows.net/azureml-blobstore-60073e53-722a-4f65-9800-09c562dd3717/LocalUpload/f6238eff-a39f-47fa-83c3-af4af0852372/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 15 Jun 2022 21:40:31 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sacfxu3euzmal3o.blob.core.windows.net/azureml-blobstore-60073e53-722a-4f65-9800-09c562dd3717/LocalUpload/f6238eff-a39f-47fa-83c3-af4af0852372/sample1.csv?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 15 Jun 2022 21:40:31 GMT",
        "x-ms-meta-name": "09355d02-612d-49a6-a8dc-405c45e51e35",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "c0c6b74b-845e-4a5e-9b25-9cc34d45a3bb",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA4F17ABA519EE\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 21:40:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/sdk_vnext_cli/jobs/test_762468762333?api-version=2022-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-azureml-token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImpTMVhvMU9XRGpfNTJ2YndHTmd2UU8yVnpNYyIsImtpZCI6ImpTMVhvMU9XRGpfNTJ2YndHTmd2UU8yVnpNYyJ9.eyJhdWQiOiJodHRwczovL21sLmF6dXJlLmNvbS8iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC83MmY5ODhiZi04NmYxLTQxYWYtOTFhYi0yZDdjZDAxMWRiNDcvIiwiaWF0IjoxNjU1MzI4OTMxLCJuYmYiOjE2NTUzMjg5MzEsImV4cCI6MTY1NTQxNTYzMSwiYWlvIjoiRTJaZ1lGQzFkVldzUE5IVHV2cWIzT2NNVS8yNUFBPT0iLCJhcHBpZCI6IjZmNWQ3OTIzLTViZTgtNGU3Mi1iZjFiLWQ3ZDkyYWI3ZjAwYyIsImFwcGlkYWNyIjoiMSIsImlkcCI6Imh0dHBzOi8vc3RzLndpbmRvd3MubmV0LzcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0Ny8iLCJvaWQiOiI4NjRmODBhZS00NTNmLTQ3YTktODNlYy1kZmQ4ZGM1ODhlMDMiLCJyaCI6IjAuQVJvQXY0ajVjdkdHcjBHUnF5MTgwQkhiUjE5dnBoamYyeGRNbmRjV05IRXFuTDRhQUFBLiIsInN1YiI6Ijg2NGY4MGFlLTQ1M2YtNDdhOS04M2VjLWRmZDhkYzU4OGUwMyIsInRpZCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsInV0aSI6InJnTHpvRnNlbGttaElnQVlxalVDQUEiLCJ2ZXIiOiIxLjAifQ.dUDxZRruKYHgFRDnNs8l660NWcxTP_lbpQPl2qC6-ISj0jZha61bGnBL6rKNM-xp3O_OXTUKHakjRLl4LBFKK2ltEo_RZxxd1H9VnycQmxxU3SZb0L-v6iksO1gBfUNSjq0JNAI1dbYaTf62QxmLwE41S2i6tPO_KBqpSMW4Mrg5nHIicAfu9MvHxzu7-1gjCEnfd-iZVxPd73qzU1VBJ_7xe6FJCyw0TEh1qypr38UcibqWbqsloyK-yAvmT4jpdRiLHjjMjv69uJ0jxpDMjR4FlI6dhZYbuOpzK-K_NljQpsyP3YnBkkQsz-GkcHkHBmW87YQCYOdH--R1jq8J5A"
      },
      "RequestBody": {
        "properties": {
          "description": "The hello world pipeline job with data binding",
          "properties": {
            "mlflow.source.git.repoURL": "https://github.com/needuv/azure-sdk-for-python.git",
            "mlflow.source.git.branch": "needuv/add-test-resources",
            "mlflow.source.git.commit": "753a9f13bc893753ce8d8dcc337ffe77447112d1",
            "azureml.git.dirty": "True"
          },
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/sdk_vnext_cli/computes/cpu-cluster",
          "displayName": "pipeline_with_data_binding",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "job_in_number": {
              "jobInputType": "Literal",
              "value": "1"
            },
            "job_in_string": {
              "jobInputType": "Literal",
              "value": "accuracy"
            },
            "job_in_folder": {
              "mode": "ReadOnlyMount",
              "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/f6238eff-a39f-47fa-83c3-af4af0852372/data/",
              "jobInputType": "UriFolder"
            },
            "job_in_file": {
              "mode": "ReadOnlyMount",
              "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/f6238eff-a39f-47fa-83c3-af4af0852372/sample1.csv",
              "jobInputType": "UriFile"
            },
            "target_compute": {
              "jobInputType": "Literal",
              "value": "cpu-cluster"
            },
            "output_file_name": {
              "jobInputType": "Literal",
              "value": "sample1.csv"
            }
          },
          "jobs": {
            "hello_world_sweep": {
              "limits": {
                "max_total_trials": 1
              },
              "sampling_algorithm": "random",
              "objective": {
                "goal": "maximize",
                "primary_metric": "${{parent.inputs.job_in_string}}"
              },
              "search_space": {
                "batch_size": {
                  "values": [
                    25,
                    35
                  ],
                  "type": "choice"
                }
              },
              "name": "hello_world_sweep",
              "display_name": null,
              "tags": {},
              "computeId": null,
              "inputs": {
                "epochs": {
                  "job_input_type": "Literal",
                  "value": "${{parent.inputs.job_in_number}}"
                },
                "data_folder": {
                  "job_input_type": "Literal",
                  "value": "${{parent.inputs.job_in_folder}}"
                },
                "batch_size": {
                  "job_input_type": "Literal"
                },
                "first_layer_neurons": {
                  "job_input_type": "Literal",
                  "value": "32"
                },
          [...]
