{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/organizations/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/organizations/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/{tenantid}/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/organizations/kerberos",
        "tenant_region_scope": null,
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/organizations/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "X-AnchorMailbox": "Oid:d7f9223b-24c1-433f-9576-f4772a6ba1c2@72f988bf-86f1-41af-91ab-2d7cd011db47",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|832,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.18.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=04b07795-8ddb-461a-bbee-02f9e1bf7b46\u0026grant_type=authorization_code\u0026client_info=1\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026code_verifier=ty5L8ah_nOPf-TAqeBHZJr2zYx7cb~w9E.XMUCsSi30\u0026code=0.ARoAv4j5cvGGr0GRqy180BHbR5V3sATbjRpGu-4C-eG_e0YaAG0.AgABAAIAAAD--DLA3VO7QrddgJg7WevrAgDs_wQA9P9-vYTqNwddkd_NeVUXVSronQLg_3D80KKP_RIXHwyXdHuxVcfPAjH_sLUP8dxIV[...]
    {
      "RequestUri": "https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/testFeed/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.015"
      },
      "ResponseBody": {
        "registryId": "3b513a6b-f110-4e7f-9ce3-472b5aa28170",
        "registryName": "testFeed",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "primaryRegion": "centraluseuap",
        "regions": [
          "centraluseuap"
        ],
        "subscriptionId": "4f26493f-21d2-4726-92ea-1ddd550b1d27",
        "resourceGroup": "test-registries",
        "workspaceName": null,
        "primaryRegionResourceProviderUri": "https://cert-master.experiments.azureml-test.net/",
        "registryFqdns": {
          "centraluseuap": {
            "uri": "https://3b513a6b-f110-4e7f-9ce3-472b5aa28170.registry.master.api.azureml-test.ms"
          }
        }
      }
    },
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/testFeed/tempdatarefs/test_869948801664/versions/2?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetId": "azureml://registries/testFeed/codes/test_869948801664/versions/2",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.950"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://feedmaster1.blob.core.windows.net:443/testfeed-1053ab54-10df-50c9-affd-7dc871fdf997",
          "storageAccountArmId": "/subscriptions/ad203158-bc5d-4e72-b764-2607833a71dc/resourceGroups/vienna-test-westus2/providers/Microsoft.Storage/storageAccounts/feedmaster1",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://feedmaster1.blob.core.windows.net/testfeed-1053ab54-10df-50c9-affd-7dc871fdf997?sv=2019-07-07\u0026sr=c\u0026sig=9DBlkwGp9JrmQbtyceByz0jUgZ7odCSgYXHBTgNjYDE%3D\u0026spr=https\u0026skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2022-09-12T06%3A11%3A24Z\u0026ske=2022-09-13T14%3A21%3A24Z\u0026sks=b\u0026skv=2019-07-07\u0026st=2022-09-12T19%3A38%3A44Z\u0026se=2022-09-13T03%3A48%3A44Z\u0026sp=rcwl",
            "wasbsUri": null
          }
        },
        "imageReferenceForConsumption": null,
        "temporaryDataReferenceId": "3bf94385-dfe9-4540-b3b3-20b4aab70153",
        "temporaryDataReferenceType": null
      }
    },
    {
      "RequestUri": "https://feedmaster1.blob.core.windows.net/testfeed-1053ab54-10df-50c9-affd-7dc871fdf997/code.txt?sv=2019-07-07\u0026sr=c\u0026sig=9DBlkwGp9JrmQbtyceByz0jUgZ7odCSgYXHBTgNjYDE%3D\u0026spr=https\u0026skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2022-09-12T06%3A11%3A24Z\u0026ske=2022-09-13T14%3A21%3A24Z\u0026sks=b\u0026skv=2019-07-07\u0026st=2022-09-12T19%3A38%3A44Z\u0026se=2022-09-13T03%3A48%3A44Z\u0026sp=rcwl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 12 Sep 2022 19:48:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://feedmaster1.blob.core.windows.net/testfeed-1053ab54-10df-50c9-affd-7dc871fdf997/code.txt?sv=2019-07-07\u0026sr=c\u0026sig=9DBlkwGp9JrmQbtyceByz0jUgZ7odCSgYXHBTgNjYDE%3D\u0026spr=https\u0026skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2022-09-12T06%3A11%3A24Z\u0026ske=2022-09-13T14%3A21%3A24Z\u0026sks=b\u0026skv=2019-07-07\u0026st=2022-09-12T19%3A38%3A44Z\u0026se=2022-09-13T03%3A48%3A44Z\u0026sp=rcwl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Sep 2022 19:48:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8DA94F7CD4D9C09\u0022",
        "Last-Modified": "Mon, 12 Sep 2022 19:48:44 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://feedmaster1.blob.core.windows.net/testfeed-1053ab54-10df-50c9-affd-7dc871fdf997/code.txt?comp=metadata\u0026sv=2019-07-07\u0026sr=c\u0026sig=9DBlkwGp9JrmQbtyceByz0jUgZ7odCSgYXHBTgNjYDE%3D\u0026spr=https\u0026skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2022-09-12T06%3A11%3A24Z\u0026ske=2022-09-13T14%3A21%3A24Z\u0026sks=b\u0026skv=2019-07-07\u0026st=2022-09-12T19%3A38%3A44Z\u0026se=2022-09-13T03%3A48%3A44Z\u0026sp=rcwl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 12 Sep 2022 19:48:45 GMT",
        "x-ms-meta-name": "test_869948801664",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "2",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA94F7CD5DC75E\u0022",
        "Last-Modified": "Mon, 12 Sep 2022 19:48:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/testFeed/codes/test_869948801664/versions/2?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "b94d27b9934d3e08a52e52d7da7dabfac484efe37a5380ee9088f7ace2efcde9",
            "hash_version": "202208"
          },
          "isAnonymous": false,
          "isArchived": false,
          "codeUri": "https://feedmaster1.blob.core.windows.net/testfeed-1053ab54-10df-50c9-affd-7dc871fdf997/"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://master.api.azureml-test.ms/assetstore/v1.0/operations/wFA5IsRi0pc76wJd_vT2oYgNo1MQVbYBzRXzWqlZKeU",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-response-type": "standard",
        "x-request-time": "3.556"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://master.api.azureml-test.ms/assetstore/v1.0/operations/wFA5IsRi0pc76wJd_vT2oYgNo1MQVbYBzRXzWqlZKeU",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.038"
      },
      "ResponseBody": {
        "assetId": "azureml://registries/testFeed/codes/test_869948801664/versions/2"
      }
    },
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/testFeed/codes/test_869948801664/versions/2?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.998"
      },
      "ResponseBody": {
        "id": "azureml://registries/testFeed/codes/test_869948801664/versions/2",
        "name": "2",
        "type": "Microsoft.MachineLearningServices/registries/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "b94d27b9934d3e08a52e52d7da7dabfac484efe37a5380ee9088f7ace2efcde9",
            "hash_version": "202208"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://feedmaster1.blob.core.windows.net/testfeed-1053ab54-10df-50c9-affd-7dc871fdf997/"
        },
        "systemData": {
          "createdAt": "2022-09-12T19:48:45.1166266\u002B00:00",
          "createdBy": "Neehar Duvvuri",
          "createdByType": "User",
          "lastModifiedAt": "2022-09-12T19:48:45.1166266\u002B00:00",
          "lastModifiedBy": "Neehar Duvvuri",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
