{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.18.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=6f5d7923-5be8-4e72-bf1b-d7d92ab7f00c\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=T~W8Q~GzhJ6x._7UHB-8KwvUNlfoT.2AFqvz6bnK\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026scope=https%3A%2F%2Fmanagement.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "refresh_in": 43199,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/e2etest_test_105335737547?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.MachineLearningServices/workspaces/e2etest_test_105335737547\u0027 under resource group \u002700000\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/providers/Microsoft.Resources/deployments/e2etest_test_105335737547-771926?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "workspaceName": {
                "type": "string",
                "metadata": {
                  "description": "Specifies the name of the Azure Machine Learning workspace."
                }
              },
              "description": {
                "type": "string",
                "metadata": {
                  "description": "Description string."
                }
              },
              "friendlyName": {
                "type": "string",
                "metadata": {
                  "description": "Friendly name."
                }
              },
              "location": {
                "type": "string",
                "metadata": {
                  "description": "Specifies the location for all resources."
                }
              },
              "resourceGroupName": {
                "type": "string",
                "metadata": {
                  "description": "Specifies the resource group name of the Azure Machine Learning workspace."
                }
              },
              "storageAccountOption": {
                "type": "string",
                "defaultValue": "new",
                "allowedValues": [
                  "new",
                  "existing"
                ],
                "metadata": {
                  "description": "Determines whether or not a new storage should be provisioned."
                }
              },
              "storageAccountName": {
                "type": "string",
                "defaultValue": "[concat(\u0027sa\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the storage account."
                }
              },
              "storageAccountType": {
                "type": "string",
                "defaultValue": "Standard_LRS"
              },
              "storageAccountBehindVNet": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "true",
                  "false"
                ],
                "metadata": {
                  "description": "Determines whether or not to put the storage account behind VNet"
                }
              },
              "storageAccountResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "storageAccountLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "keyVaultOption": {
                "type": "string",
                "defaultValue": "new",
                "allowedValues": [
                  "new",
                  "existing"
                ],
                "metadata": {
                  "description": "Determines whether or not a new key vault should be provisioned."
                }
              },
              "keyVaultName": {
                "type": "string",
                "defaultValue": "[concat(\u0027kv\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the key vault."
                }
              },
              "keyVaultBehindVNet": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "true",
                  "false"
                ],
                "metadata": {
                  "description": "Determines whether or not to put the storage account behind VNet"
                }
              },
              "keyVaultResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "keyVaultLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "applicationInsightsOption": {
                "type": "string",
                "defaultValue": "new",
                "allowedValues": [
                  "new",
                  "existing"
                ],
                "metadata": {
                  "description": "Determines whether or not new ApplicationInsights should be provisioned."
                }
              },
              "applicationInsightsName": {
                "type": "string",
                "defaultValue": "[concat(\u0027ai\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of ApplicationInsights."
                }
              },
              "applicationInsightsResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "applicationInsightsLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "containerRegistryOption": {
                "type": "string",
                "defaultValue": "none",
                "allowedValues": [
                  "new",
                  "existing",
                  "none"
                ],
                "metadata": {
                  "description": "Determines whether or not a new container registry should be provisioned."
                }
              },
              "containerRegistryName": {
                "type": "string",
                "defaultValue": "[concat(\u0027cr\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "The container registry bind to the workspace."
                }
              },
              "containerRegistrySku": {
                "type": "string",
                "defaultValue": "Standard",
                "allowedValues": [
                  "Basic",
                  "Standard",
                  "Premium"
                ]
              },
              "containerRegistryResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "containerRegistryBehindVNet": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "true",
                  "false"
                ],
                "metadata": {
                  "description": "Determines whether or not to put container registry behind VNet."
                }
              },
              "containerRegistryLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "vnetOption": {
                "type": "string",
                "defaultValue": "[if(equals(parameters(\u0027privateEndpointType\u0027), \u0027none\u0027), \u0027none\u0027, \u0027new\u0027)]",
                "allowedValues": [
                  "new",
                  "existing",
                  "none"
                ],
                "metadata": {
                  "description": "Determines whether or not a new VNet should be provisioned."
                }
              },
              "vnetName": {
                "type": "string",
                "defaultValue": "[concat(\u0027vn\u0027,uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the VNet"
                }
              },
              "vnetResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "addressPrefixes": {
                "type": "array",
                "defaultValue": [
                  "10.0.0.0/16"
                ],
                "metadata": {
                  "description": "Address prefix of the virtual network"
                }
              },
              "subnetOption": {
                "type": "string",
                "defaultValue": "[if(or(not(equals(parameters(\u0027privateEndpointType\u0027), \u0027none\u0027)), equals(parameters(\u0027vnetOption\u0027), \u0027new\u0027)), \u0027new\u0027, \u0027none\u0027)]",
                "allowedValues": [
                  "new",
                  "existing",
                  "none"
                ],
                "metadata": {
                  "description": "Determines whether or not a new subnet should be provisioned."
                }
              },
              "subnetName": {
                "type": "string",
                "defaultValue": "[concat(\u0027sn\u0027,uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the subnet"
                }
              },
              "subnetPrefix": {
                "type": "string",
                "defaultValue": "10.0.0.0/24",
                "metadata": {
                  "description": "Subnet prefix of the virtual network"
                }
              },
              "adbWorkspace": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Azure Databrick workspace to be linked to the workspace"
                }
              },
              "confidential_data": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "Specifies that the Azure Machine Learning workspace holds highly confidential data."
                }
              },
              "encryption_status": {
                "type": "string",
                "defaultValue": "Disabled",
                "allowedValues": [
                  "Enabled",
                  "Disabled"
                ],
                "metadata": {
                  "description": "Specifies if the Azure Machine Learning workspace should be encrypted with customer managed key."
                }
              },
              "cmk_keyvault": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Specifies the customer managed keyVault arm id."
                }
              },
              "resource_cmk_uri": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Specifies if the customer managed keyvault key uri."
                }
              },
              "privateEndpointType": {
                "type": "string",
                "defaultValue": "none",
                "allowedValues": [
                  "AutoApproval",
                  "ManualApproval",
                  "none"
                ]
              },
              "tagValues": {
                "type": "object"
              },
              "privateEndpointName": {
                "type": "string",
                "defaultValue": "pe",
                "metadata": {
                  "description": "Name of the private end point added to the workspace"
                }
              },
              "privateEndpointResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]",
                "metadata": {
                  "description": "Name of the resource group where the private end point is added to"
                }
              },
              "imageBuildCompute": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The name of the compute target to use for building environment Docker images with the container registry is behind a VNet."
                }
              },
              "publicNetworkAccess": {
                "type": "string",
                "defaultValue": "Enabled",
                "allowedValues": [
                  "Disabled",
                  "Enabled"
                ],
                "metadata": {
                  "description": "Whether to allow public endpoint connectivity when a workspace is private link enabled."
                }
              },
              "soft_delete_enabled": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "Whether to create a workspace with soft delete capability"
                }
              },
              "allow_recover_softdeleted_workspace": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "Whether to allow an exising soft-deleted workspace to be recovered"
                }
              },
              "encryption_cosmosdb_resourceid": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The Bring-Your-Own cosmosdb account that customer brings to store data"
                }
              },
              "encryption_storage_resourceid": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The Bring-Your-Own storage account that customer brings to store data"
                }
              },
              "encryption_search_resourceid": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The Bring-Your-Own search account that customer brings to store data"
                }
              }
            },
            "variables": {
              "tenantId": "[subscription().tenantId]",
              "storageAccount": "[resourceId(parameters(\u0027storageAccountResourceGroupName\u0027), \u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027storageAccountName\u0027))]",
              "keyVault": "[resourceId(parameters(\u0027keyVaultResourceGroupName\u0027), \u0027Microsoft.KeyVault/vaults\u0027, parameters(\u0027keyVaultName\u0027))]",
              "containerRegistry": "[resourceId(parameters(\u0027containerRegistryResourceGroupName\u0027), \u0027Microsoft.ContainerRegistry/registries\u0027, parameters(\u0027containerRegistryName\u0027))]",
              "applicationInsights": "[resourceId(parameters(\u0027applicationInsightsResourceGroupName\u0027), \u0027Microsoft.Insights/components\u0027, parameters(\u0027applicationInsightsName\u0027))]",
              "vnet": "[resourceId(parameters(\u0027vnetResourceGroupName\u0027), \u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027vnetName\u0027))]",
              "subnet": "[resourceId(parameters(\u0027vnetResourceGroupName\u0027), \u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027vnetName\u0027), parameters(\u0027subnetName\u0027))]",
              "enablePE": true,
              "networkRuleSetBehindVNet": {
                "defaultAction": "deny",
                "virtualNetworkRules": [
                  {
                    "action": "Allow",
                    "id": "[variables(\u0027subnet\u0027)]"
                  }
                ]
              },
              "subnetPolicyForPE": {
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "privateEndpointSettings": {
                "name": "[concat(parameters(\u0027workspaceName\u0027), \u0027-PrivateEndpoint\u0027)]",
                "properties": {
                  "privateLinkServiceId": "[resourceId(\u0027Microsoft.MachineLearningServices/workspaces\u0027, parameters(\u0027workspaceName\u0027))]",
                  "groupIds": [
                    "amlworkspace"
                  ]
                }
              },
              "defaultPEConnections": "[array(variables(\u0027privateEndpointSettings\u0027))]",
              "privateEndpointDeploymentName": "[concat(\u0027DeployPrivateEndpoint-\u0027, uniqueString(parameters(\u0027privateEndpointName\u0027)))]"
            },
            "resources": [
              {
                "condition": "[and(variables(\u0027enablePE\u0027), equals(parameters(\u0027vnetOption\u0027), \u0027new\u0027))]",
                "type": "Microsoft.Network/virtualNetworks",
                "apiVersion": "2019-09-01",
                "name": "[parameters(\u0027vnetName\u0027)]",
                "location": "[parameters(\u0027location\u0027)]",
                "tags": "[parameters(\u0027tagValues\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": "[parameters(\u0027addressPrefixes\u0027)]"
                  },
                  "enableDdosProtection": false,
                  "enableVmProtection": false
                }
              },
              {
                "condition": "[and(variables(\u0027enablePE\u0027), equals(parameters(\u0027subnetOption\u0027), \u0027new\u0027))]",
                "type": "Microsoft.Network/virtualNetworks/subnets",
                "apiVersion": "2019-09-01",
                "name": "[concat(parameters(\u0027vnetName\u0027), \u0027/\u0027, parameters(\u0027subnetName\u0027))]",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027vnetName\u0027))]"
                ],
                "properties": {
                  "addressPrefix": "[parameters(\u0027subnetPrefix\u0027)]",
                  "privateEndpointNetworkPolicies": "Disabled",
                  "privateLinkServiceNetworkPolicies": "Enabled",
                  "serviceEndpoints": [
                    {
                      "service": "Microsoft.Storage"
                    },
                    {
                      "service": "Microsoft.KeyVault"
                    },
                    {
                      "service": "Microsoft.ContainerRegistry"
                    }
                  ]
                }
              },
              {
                "condition": "[and(equals(parameters(\u0027subnetOption\u0027), \u0027existing\u0027), not(equals(parameters(\u0027privateEndpointType\u0027), \u0027none\u0027)))]",
                "type": "Microsoft.Resources/deployments",
                "apiVersion": "2019-10-01",
                "name": "[concat(\u0027UpdateSubnetPolicy-\u0027, uniqueString(parameters(\u0027vnetName\u0027), parameters(\u0027subnetName\u0027)))]",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027vnetName\u0027), parameters(\u0027subnetName\u0027))]"
                ],
                "resourceGroup": "[parameters(\u0027vnetResourceGroupName\u0027)]",
                "properties": {
                  "mode": "Incremental",
                  "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "resources": [
                      {
                        "type": "Microsoft.Network/virtualNetworks/subnets",
                        "apiVersion": "2019-09-01",
                        "name": "[concat(parameters(\u0027vnetName\u0027), \u0027/\u0027, parameters([...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/providers/Microsoft.Resources/deployments/e2etest_test_105335737547-771926/operationStatuses/08585468110692575325?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/deployments/e2etest_test_105335737547-771926/operations?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/deployments/e2etest_test_105335737547-771926/operations?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Resources/deployments/e2etest_test_105335737547-771926/operations/95C08F6A9157F139",
            "operationId": "95C08F6A9157F139",
            "properties": {
              "provisioningOperation": "Create",
              "provisioningState": "Succeeded",
              "timestamp": "2022-06-09T17:30:26.7732397Z",
              "duration": "PT6.9800636S",
              "trackingId": "c237927c-0c3d-4f8e-b44f-ab2ae2218fb2",
              "statusCode": "OK",
              "targetResource": {
[...]
